body {
    background-color: lightpink;
    color: white;
    text-align: center;
}

ul {
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    font-size: x-large;
}

.home-image {
    width: 250px;
    border: 2px soid black;
}

/* .Rights {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
} */

.copyrights {
    position: absolute;
    bottom: 10px;
    width: 100%;
}